body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table-container {
  width: 80%;
  margin: 2rem auto;
}

.img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.unread {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: green;
  border-radius: 50%;
}

.read {
  margin-right: 1rem;
}

.candidate {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navigation {
  background-color: #2a2a2a;
  padding: 0.75rem 0.25rem;
}

.navigation > img {
  margin-left: 1rem;
}

.search-filter-container {
  padding: 0.5rem 0;
  background-color: white;
}

.element-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.search {
  padding: 0.75rem 0.5rem;
  border: 1px solid #a6acaf;
  border-radius: 0.25rem;
  width: 15rem;
  font-size: 12pt;
}

.search-icon {
  position: absolute;
  left: 0;
  left: 13rem;
  color: #a6acaf;
}

.archive {
  font-size: 13pt;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
